.welcome{
    background-color: var(--bg-primary);
    height: 50vh;

    display:flex;
    justify-content: center;
    align-items: center;
}
.welcome h1{
    text-align:center;
}
/*Stilizare pe mobil sectiune welcome*/
@media (max-width:768 px){
    .welcome h1{font: size 2rem;}
}
.contact h2{
    text-align: center;
    padding-top: 40px;
}

.contact h2, .contact .paragraph , .contact .firstparagraph{
    margin-bottom:var(--spacing-large);
}

/*Stilizare sectiune input si forum*/
.contact .contact-information{
    display:flex;
}
.contact ul , .contact form {
    width: 50%;
    display:flex;
    flex-direction:column;
    padding: var(--spacing-large);
}
.contact li {
    display:flex;
    justify-content: space-between;
    padding-bottom: var(--spacing-small);
    margin-bottom: var(--spacing-large);
    border-bottom: 1px solid  #ddd;
}

.contact .contact-information p, .contact a , .contact label , .contact input , .contact textarea {
    font-size:var(--fs-small);
}

.contact .material-symbols-outlined{
    vertical-align: middle;
    color:var(--text-primary);
}
.contact .contact-information p:not(.description),
.contact label,
.contact input,
.contact textarea {
    color:var(--text-dark);
}

.contact a ,
.contact .description,
.contact input::placeholder{
    color: #8e8e8e;
}

.contact a:hover{
    color:var(--text-primary);
}
.contact label {
    margin-bottom: var(--spacing-tiny);
}

.contact input, .contact textarea {
    padding:var(--spacing-small);
    border: 1px solid #ddd;
    border-radius:5px;
    margin-bottom: var(--spacing-medium);
}

.contact input:focus, .contact textarea:focus {
    border-color:#8e8e8e;
    outline: none;
}

.contact textarea{
    font-family: inherit;
    height: 100px;
}
.contact input[type="submit"]{
    font-size:var(--fs-medium);
    text-allign:center;
    color:var(--text-white);
    background-color:#2bb686;
    border: 1px solid var(--button-color);
    border-radius:7px;
    padding:var(--spacing-small);
    width: 100px;
}

/*Stilizare pe mobil pentru sectiunea input si form*/
@media(max-widh:780px){
    .contact .contact-information{
        flex-direction:column;
    }
    .contact ul, .contact form{
        width:100%;
        padding:0;
    }
    .contact li {
        margin-bottom: var(--spacing-medium);
    }
    .contact li:last-of-type{
        margin-bootm:var(--spacing large);
    
    }
    .contact input[type="sumbmit"] {
        margin-bottom: 0;
    }
}

/*Stilizare imagine-harta*/
.firstmap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.mapslocation h3 {
    text-align: center;
    padding-top: 40px;
    font-size:var(--fs-medium);
    color:rgba(25, 30, 48, 0.4);
    font-family: Asap, sans-serif;
}
.mapslocation p {
    text-align: center;
    padding-top: 40px;
    font-family: Asap, sans-serif;
    font-size: 2.6rem;
    color:var(--text-dark);
}

.cities {
   display: flex;
    margin-top:20px;
    margin-left: 350px;
   margin-right: 350px;
 
    
}
.cities1 , .cities2 , .cities3 , .cities4 , .cities5, .cities6 , .cities7 {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
   
}

   .cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }
  

